@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 
INNLEVERING: VÆR SIKKER PÅ AT ALLE SRC PÅ IMG ER RETTE, OM MAN ER I MASTER ELLER MAIN SÅ ER DE ULIKE,
OG BILDER DUKKER KANSKJE IKKE OPP... BARE ENDRE/TA BORT/LEGG TIL EN EKSTRA PARENT FOLDER ./navn -- ../navn/navn

- SKYGGE RUNDT WRAPPER OG BODY, KONTRAST MELLOM BODY OG WRAPPER (på desktop)
- LEGGE TIL "ALT" BESKRIVNINGER PÅ ALLE BILDER
- FORSØKE Å KOMBINERE ALLE BUTTONS PÅ ET SETT

- FÅ MENYEN PÅ MOBIL TIL Å VISES OPPÅ/FRAMFOR ALT CONTENT OG IKKE BAK

- FIKSE DESKTOP MEDIA QUERY PÅ ALLE SIDENE
- JUSTERE FARGER, VELGE PRIMARY OG SECONDARY FARGER PÅ SIDEN + GRADIENT

OG HUSK Å LEGGE TIL SISTE RECEIPT SIA FØR EG GLEMME DET OGSÅ OG LEVERE INN ALT

OG HUSK Å LEGGE TIL A LINK TAGGER INNI ALLE KNAPPER, OG FAKTISK LINKE DEM SOM SKAL LINKES TIL NYE SIDER! MED HOVER EFFEKTER OG CURSOR POINTER, 
OG ALT TEKST PÅ ALLE BILDER PÅ ALLE SIDER

KANSKJE EN BESKRIVELSE FOR TING SOM IKKE HAR EN BESKRIVELSE? MED ARIA LABELS ELNS? OM DET TRENGST. F.EKS PÅ KNAPPER? MED HOTELLROMNAVN ELLERNOE IDK

+ SHADOWS PÅ BUTTONS, HEADERS, TXT-CONTAINERS, IMG

-ENDRE NAVN PÅ NOEN KLASSER, TIL MINDRE SPESIFIKT, MER ÅPENT OG GENERELT
*/

:root {
    --color-primary: #3d6d8d;
    --color-secondary: #7c7c7c;

    --gradient-blue: linear-gradient(180deg, rgba(24,105,219,1) 0%, rgb(22, 167, 196) 100%);

    /* --headings-buttons: font-family: tomorrow */
}

.index-wrapper {
    /* background-color: EN FARGE HER PÅ DESKTOP FOR Å SKILLE MELLOM BODY OG WRAPPER (MAIN CONTENT) */
    min-height: 100vh;
    /* width: 100vw; */
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* ---------------------------------------------------------------------------- HEADER SECTION -- ALL PAGES --------------------------------------------------------------------- */

.header-section {
    position: relative;
    height: 7.5rem;
    background: var(--gradient-blue);
    display: flex;
    flex-direction: column;
}

.header-section__title, .header-section__sub-title {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.header-section__sub-title {
    padding-bottom: 1.5rem;
    letter-spacing: .9rem; 
    transform: translateX(.5rem);
}

.header-section__title {
    padding-top: 1.5rem;
}

.header-section__image {
    max-width: 20%;
    bottom: 3rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 12%;
    /* får img i header til å ligge i midten hele tiden, 12% fra venstre og 50% fra toppen når man scaler opp og ned */
}


/* ----------------------------------------------------------------------- HAMBURGER SECTION -- ALL PAGES ------------------------------------------------------------------------ */

/* HAMBURGER ICON STYLING/POSITION SECTION */
.header-section__burger {
    display: none;
}

.header-section__burger-btn {
    width: 1.5rem;
    aspect-ratio: 1;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* HAMBURGER CHECKED/ROTATION ANIMATION SECTION */
.header-section__burger-btn > .header-section__burger-icon,
.header-section__burger-btn > .header-section__burger-icon::before,
.header-section__burger-btn > .header-section__burger-icon::after {
    width: 100%;
    height: 3px;
    border-radius: 1rem;
    background-color: white;
    position: absolute;
    transition: all .3s ease-in-out;
}

.header-section__burger-btn > .header-section__burger-icon::before {
    content: '';
    top: -8px;
}

.header-section__burger-btn > .header-section__burger-icon::after {
    content: '';
    top: 8px;
}

.header-section__burger:checked ~ .header-section__burger-btn > .header-section__burger-icon {
    transform: rotate(45deg);
}

.header-section__burger:checked ~ .header-section__burger-btn > .header-section__burger-icon::before {
    transform: rotate(90deg);
    top: 0;
}

.header-section__burger:checked ~ .header-section__burger-btn > .header-section__burger-icon::after {
    transform: rotate(90deg);
    top: 0;

}

/* NAVIGATION MENU STYLING/ANIMATION SECTION */
.header-section__navigation {
    margin-inline: auto;
    /* tar opp hele skjermen i bredde på liten skjerm */
    width: 100%;
    height: 100vh;
    /* tar opp hele skjermen i lengde på liten skjerm */
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
    background-color: rgb(10, 165, 204);
    /* få den her fargen å matche enden av fargen på gradient i header */
}

.header-section__navigation-list {
    display: flex;
    flex-direction: column;
    /* større skjerm, endre bare fra column til row i stedet for i media queries på desktop str*/
    align-items: flex-end;
}

.header-section__navigation-list-item {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 1rem 2rem;
    /* min-width: 100%; */
    width: auto;
    
}

.header-section__navigation-list-item:active,
.header-section__navigation-list-item:hover {
    background-color: #1090b8;
    cursor: pointer;
    border-radius: .3rem;
}

.header-section__burger:checked ~ .header-section__navigation {
    /* når burgermenyen er checked, så skal nav menyen komme inn på skjermen igjen */
    transform: translateX(0);
}


/* --------------------------------------------------------------------------- MAIN SECTION -- PAGE 1 ---------------------------------------------------------------------------- */

.content-section__login-status {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
    font-family: roboto;
}


/* ARTICLE NUMBER 1 */
.intro__booking {
    background-image: url('../assets/lobby.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 6rem 0rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.intro__booking-help-btn {
    color: fff;
    background-color: white;
    padding: .7rem 1.1rem;
    border-style: none;
    border-radius: 999rem;
    font-weight: 1000;
    font-size: 1rem;
    color: rgb(70, 70, 70);
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.intro__booking-btn, .intro__booking-btn--bold {
    padding: 1.5rem 5.5rem;
    font-family: tomorrow;
    font-size: 1.5rem;
    width: 20.7rem;
    border-style: none;
    border-radius: .3rem;
}

.intro__booking-btn--bold {
    font-weight: 600;
    padding: 1.5rem 5rem;
    margin-bottom: 1rem;
}


/* ARTICLE NUMBER TWO */
.intro__overview {
    background-image: url('../assets/hotel.jpg');
    width: 100%;
    padding: 6rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 2.8rem;
    margin-bottom: 6rem;
    position: relative;
}

.intro__overview-btn, .intro__overview-btn--padding {
    padding: .5rem .5rem;
    border-style: none;
    width: 8rem;
    border-radius: .3rem;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: tomorrow;
    top: 1rem;
}

.intro__overview-btn-container {
    margin-bottom: 2rem;
    width: 20.1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.intro_overview-q-background {
    padding: 1rem 1.5rem; 
    border-radius: 0.3rem; 
    background-color: white;
    opacity: .7;
}

.intro__overview-quote-content {
    text-align: center; 
    line-height: 1.5; 
    /* legg till line hight på andre p tekster senere på de andre sidene, lettere å lese */
    font-size: 1.4rem; 
    font-family: roboto;
    font-style: italic;
}

button {
    /* endre til felles button-BEM etterpå */
    background-color: white;
    opacity: .8;
}

.content-section__gal-con-service-btn:hover {
    cursor: pointer;
    opacity: 1;
/* ENDRE NAVN, DEN HETER SERVICE-BTN PÅ BÅDE SERVICE & ROOMS... */
}
/* ----------------------------------------------------------------------- REVIEWS SECTION -- PAGE 1 ----------------------------------------------------------------------------- */

.intro__overview__quote {
    font-family: tomorrow;
    text-align: center;
    font-size: 1.5rem;
    color: var(--color-secondary);
    margin-bottom: 3rem;
}

.content-section__reviews {
    display: flex;
    flex-direction: column;
}

.content-section__comment {
    width: clamp(12rem, 50%, 20rem);
    /* clamp funker fint for å scale ting opp og ned veldig lett! når man gjør siden større og mindre, se review section */
    padding: 1.2rem;
    color: white;
    font-family: roboto;
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
    border-radius: .3rem;
    margin: 1rem;
    background: var(--gradient-blue);
}

.content-section__user-name {
    font-family: roboto;
    font-weight: 200;
    text-align: end;
}

.content-section__comment:nth-child(3) {
    align-self: flex-end;
}


.content-section__comment:nth-child(5) {
    align-self: flex-end;
}

.content-section__more-com-btn {
    border-radius: .3rem;
    color: white;
    font-weight: 600;
    font-style: italic;
    font-family: roboto;
    font-size: .9rem;
    background-color: var(--color-secondary);
    border-style: none;
    width: 7.5rem;
    padding: .5rem 1rem;
    align-self: center;
    margin: 3rem 0rem 6rem 0rem;
}

/* ----------------------------------------------------------------------- FOOTER SECTION -- ALL PAGES -------------------------------------------------------------------------- */

.footer-section {
    width: 100%;
    height: auto;
    list-style: none;
    font-family: roboto;
    color: white;
    font-weight: 600;
    padding-top: 2rem;
    background: var(--gradient-blue);
    margin-top: 4rem;
}

.footer-section__navigation-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 40px);
}

.footer-section__navigation-bottom-list-items:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
}

.footer-section__navigation-bottom-list-items:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
}

.footer-section__navigation-bottom-list-items:nth-child(3) {
    grid-area: 1 / 3 / 2 / 4;
}

.footer-section__navigation-bottom-list-items:nth-child(4) {
    grid-area: 2 / 1 / 3 / 2;
}

.footer-section__navigation-bottom-list-items:nth-child(5) {
    grid-area: 2 / 2 / 3 / 3;
}

.footer-section__navigation-bottom-list-items:nth-child(6) {
    grid-area: 2 / 3 / 3/ 4;
}

.footer-section__navigation-bottom-list-items {
    align-self: center;
    text-align: center;
}

.footer-section__navigation-bottom-copyright {
    font-weight: 100;
    text-align: center;
    padding-bottom: 1rem;
    font-style: italic;
    padding-top: 3rem;
    font-size: .9rem;
}

/* ------------------------------------------------------------------------ SERVICES/ROOMS PAGE -- PAGE 2 & 3 -------------------------------------------------------------------- */

.content-section__gallery-title {
    font-family: tomorrow;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 2rem;
}

.content-section__gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr) ;
    grid-template-rows: repeat(8, auto);
    text-align: center;
}
/* grid (.section) med navn gallery */

.content-section__gal-con-service-btn {
    border-style: none;
    background-color: white;
    opacity: .7;
    color: black;
    padding: 1.2rem 2.5rem;
    border-radius: .3rem;
    font-family: tomorrow;
    font-weight: 600;
    font-size: 1rem;
    width: 12rem;
    position: absolute;
    transform: translate(-17.7rem, 8.5rem);
}

.content-section__gal-con-img {
    width: 23.5rem;
    position: relative;
    margin-top: 4rem;
}

.content-section__gal-con-description {
    width: 23rem;
    justify-self: center;
    padding: 0rem .3rem 0rem .3rem;
    margin: 1rem 0rem;
    letter-spacing: .1rem;
    line-height: 1.4rem;
    font-family: roboto;
    font-style: italic;
    margin-bottom: 2rem;
}

/* additional "BOOK" BUTTON ON "rooms.html" */
.content-section__gal-con-book-btn {
    border-style: none;
    border-radius: .3rem;
    font-weight: 600;
    font-family: roboto;
    font-size: .9rem;
    padding: 1rem 2rem;
    color: white;
    background: var(--gradient-blue);
}


/* ------------------------------------------------------------------------------- RECEIPT SECTION -- PAGE 4------------------------------------------------------------------------ */
/* 
--- FINN UT HVORFOR DE IKKE VIL BLI SENTRERT, MEN ROW OG COLUMN FUNKER
--- KOMBINERE DEM FOR MER KOMPAKT CSS?

--- BUTTON PÅ BILDET PINKY FORSVINN PÅ 375px, IDK WHY, DET SKJER IKKE PÅ NOEN AV DE ANDRE.
DVS... HELE SIDE 4 IS ACTING STRANGE. BEGYNNE FRA START?
*/

.sr-only {
    visibility: hidden; 
}

/* SEARCH WITH AI SECTION / 1 */

.content-section__AI-search {
    display: flex;
    flex-direction: column;    
}

.content-section__AI-search-sub-title {
    font-family: tomorrow;
    font-weight: 600;
    font-size: 1.2rem;
}

.content-section__AI-search-logo {
    max-width: 20%;
}

.content-section__AI-search-output-container {
    max-width: 16rem;
    padding: 1rem 1.5rem; 
    border-radius: 0.3rem; 
    background-color: white;
    border: 1px solid black;
    opacity: .7;
}

.content-section__AI-search-output-container-result {
    text-align: center; 
    line-height: 1.5; 
    font-size: 1.4rem; 
    font-family: roboto;
    font-style: italic;
}

/* BOOKING DETAILS SECTION / 2 */

.content-section__booking {
    display: flex;
    flex-direction: column;
}

.content-section__booking-term, .content-section__booking-value {
    font-family: roboto;
    font-weight: 600;
    margin-left: 2rem;
}

.content-section__booking-value {
    margin-bottom: 2rem;
    font-weight: 300;
}

/* -------------------------------------------------------------------------------- MEDIA QUERY SECTION ------------------------------------------------------------------------- */

@media screen and (min-width: 999px) {

    /* MEDIA QUERY --- NAV MENY + BURGER ICON STYLING */
    .header-section__burger-btn {
        display: none;
    }

    .header-section__navigation {
        transform: translateX(0);
        display: flex;
        width: 100%;
        height: auto;
        background-color: rgb(255, 255, 255);
        color: rgb(19, 19, 19);
    }

    .header-section__navigation-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .header-section__navigation-list-item {
        font-size: 1rem;
        border-style: none;
        padding: 1rem 2rem;
        text-align: center;
    }

    .header-section__navigation-list-item:hover {
        background-color: rgb(55, 165, 192);
        color: white;
        border-radius: 0rem 0rem 1rem 1rem;
    }

    .header-section__navigation-list-item:nth-child(6) {
        border-style: none;
    }

    .content-section__login-status {
        margin-top: 4rem;
    }
}

