@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* MANUAL BOOKING ER IKKE FUNKSJONELL --- BARE AI BOOKING ER FUNKSJONELL AV DE TO KNAPPENE */

/* HUSKELAPP TIL NESTE GANG: 
SETT ALLE BILDER INNI EN CONTAINER FORDI DET BLIR SÅ MYE ENKLERE...
FÅR BARE BRUKE DIV PÅ DEM DA, ELLER NOE. UNNGIKK DET NÅ PGA AT DET
BLE MINDRE DIVS PÅ DET SETTET. MEN HADDE VÆRT BEDRE MED IMG CONTAINERS.

*PRØVER Å FIKSE IMG I CONTAINERS MED FLEX*
EDIT; NEI OK DET VAR EN DÅRLIG IDE AT THIS POINT... */


/*
INNLEVERING: VÆR SIKKER PÅ AT ALLE SRC PÅ IMG ER RETTE, OM MAN ER I MASTER ELLER MAIN SÅ ER DE ULIKE,
OG BILDER DUKKER KANSKJE IKKE OPP... BARE ENDRE/TA BORT/LEGG TIL EN EKSTRA PARENT FOLDER ./navn -- ../navn/navn

- RAD 719: FÅ BOOK KNAPPENE TIL Å BLI ALIGNET (LODDRETT) UTEN Å BRUKE POSITION ABSOLUTE

- GJØR AT a-tagger HOVRES OVER SOM BOKSEN RUNDT, ALTSÅ IKKE BARE SKRIFTEN SKAL KUNNE HOVRES OVER, ELLER EVT LEGG TIL PADDING PÅ SELVE A TAGGENE, det er vel bedre

- LEGGE TIL "ALT" BESKRIVNINGER PÅ ALLE BILDER

- FORSØKE Å KOMBINERE ALLE BUTTONS PÅ ET SETT

- FÅ MENYEN PÅ MOBIL TIL Å VISES OPPÅ/FRAMFOR ALT CONTENT OG IKKE BAK

- FIKSE DESKTOP MEDIA QUERY PÅ ALLE SIDENE (ROOMS & SERVICES ER PRETTY MUCH FERDIG, MÅ JOBBE LITT PÅ REVIEWS PÅ INDEX, OG NESTEN ALT PÅ PAGE 4 (RECEIPT))

- JUSTERE FARGER, VELGE PRIMARY OG SECONDARY FARGER PÅ SIDEN + GRADIENT

- FLERE ARIA-LABELS??

-ENDRE NAVN PÅ NOEN KLASSER, TIL MINDRE SPESIFIKT, MER ÅPENT OG GENERELT (knappene er et problem her f.eks...)
*/

:root {
    --color-primary: #3d6d8d;
    --color-secondary: #363636;
    --gradient-blue: linear-gradient(180deg, rgba(24,105,219,1) 0%, rgb(22, 167, 196) 100%);
}

.index-wrapper, .rooms-wrapper, .services-wrapper, .receipt-wrapper {
    min-height: 100vh;
    width: 100%;
    max-width: 1400px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 10px grey;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
} 

/* ---------------------------------------------------------------------------- HEADER SECTION -- ALL PAGES --------------------------------------------------------------------- */

.header-section {
    position: relative;
    height: 7.5rem;
    background: var(--gradient-blue);
    display: flex;
    flex-direction: column;
}

.header-section__title, .header-section__sub-title {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.header-section__sub-title {
    padding-bottom: 1.5rem;
    letter-spacing: .9rem;
    transform: translateX(.5rem);
}

.header-section__title {
    padding-top: 1.5rem;
}

.header-section__image {
    max-width: 20%;
    bottom: 3rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 12%;
}


/* ----------------------------------------------------------------------- HAMBURGER SECTION -- ALL PAGES ------------------------------------------------------------------------ */

/* HAMBURGER ICON STYLING/POSITION SECTION */
.header-section__burger {
    display: none;
}

.header-section__burger-btn {
    width: 1.5rem;
    aspect-ratio: 1;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* HAMBURGER CHECKED/ROTATION ANIMATION SECTION */
.header-section__burger-btn > .header-section__burger-icon,
.header-section__burger-btn > .header-section__burger-icon::before,
.header-section__burger-btn > .header-section__burger-icon::after {
    width: 100%;
    height: 3px;
    border-radius: 1rem;
    background-color: white;
    position: absolute;
    transition: all .3s ease-in-out;
}

.header-section__burger-btn > .header-section__burger-icon::before {
    content: '';
    top: -8px;
}

.header-section__burger-btn > .header-section__burger-icon::after {
    content: '';
    top: 8px;
}

.header-section__burger:checked ~ .header-section__burger-btn > .header-section__burger-icon {
    transform: rotate(45deg);
}

.header-section__burger:checked ~ .header-section__burger-btn > .header-section__burger-icon::before {
    transform: rotate(90deg);
    top: 0;
}

.header-section__burger:checked ~ .header-section__burger-btn > .header-section__burger-icon::after {
    transform: rotate(90deg);
    top: 0;
}

/* NAVIGATION MENU STYLING/ANIMATION SECTION */
.header-section__navigation {
    margin-inline: auto;
    width: 100%;
    height: 100vh;
    padding-bottom: 2rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
    background-color: rgb(10, 165, 204);
    z-index: 1;
    /* X-AKSE (vannrett), Y-AKSE (loddrett), BLUR, evt nr. 4 = SPREAD */
}

.header-section__navigation-list-item a {
    color: white;
    text-decoration: none;
}

.header-section__navigation-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-section__navigation-list-item {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 1rem 2rem;
    width: auto;
}

.header-section__navigation-list-item:active,
.header-section__navigation-list-item:hover {
    background-color: #1090b8;
    cursor: pointer;
    border-radius: .3rem;
}

.header-section__burger:checked ~ .header-section__navigation {
    /* når burgermenyen er checked, så skal nav menyen komme inn på skjermen igjen */
    transform: translateX(0);
}


/* --------------------------------------------------------------------------- MAIN SECTION -- PAGE 1 ---------------------------------------------------------------------------- */

.content-section__login-status {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 2rem;
    font-family: roboto;
}

/* ARTICLE NUMBER 1 */
.intro__booking {
    background-image: url('../assets/lobby.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 6rem 0rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.intro__booking-help-btn {
    color: fff;
    background-color: white;
    padding: .7rem 1.1rem;
    border-style: none;
    border-radius: 999rem;
    font-weight: 1000;
    font-size: 1rem;
    color: rgb(70, 70, 70);
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.intro__booking-btn, .intro__booking-btn--bold {
    padding: 1.5rem 5.5rem;
    font-family: tomorrow;
    font-size: 1.5rem;
    width: 20.7rem;
    border-style: none;
    border-radius: .3rem;
}

.intro__booking-btn--bold {
    font-weight: 600;
    padding: 1.5rem 5rem;
    margin-bottom: 1rem;
}


/* ARTICLE NUMBER TWO */
.intro__overview {
    background-image: url('../assets/hotel.jpg');
    width: 100%;
    padding: 6rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 2.8rem;
    margin-bottom: 6rem;
    position: relative;
}

.intro__overview-btn, .intro__overview-btn--padding {
    padding: .5rem .5rem;
    border-style: none;
    width: 8rem;
    border-radius: .3rem;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: tomorrow;
    top: 1rem;
}

.intro__overview-btn-container {
    margin-bottom: 2rem;
    width: 20.1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.intro_overview-q-background {
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    background-color: white;
    opacity: .7;
}

.intro__overview-quote-content {
    text-align: center;
    line-height: 1.5;
    font-size: 1.4rem;
    font-family: roboto;
    font-style: italic;
}

button {
    /* endre til felles button-BEM etterpå */
    background-color: white;
    opacity: .8;
    cursor: pointer;
}

a {
    cursor: pointer;  
}

.content-section__gal-con-service-btn:hover {
    opacity: 1;
/* ENDRE NAVN, DEN HETER SERVICE-BTN PÅ BÅDE SERVICE & ROOMS... */
}
/* ----------------------------------------------------------------------- REVIEWS SECTION -- PAGE 1 ----------------------------------------------------------------------------- */

.intro-overview__quote {
    font-family: tomorrow;
    text-align: center;
    font-size: 1.5rem;
    color: var(--color-secondary);
    margin-bottom: 3rem;
}

.content-section__reviews {
    display: flex;
    flex-direction: column;
}

.content-section__comment {
    width: clamp(12rem, 50%, 20rem);
    padding: 1.2rem;
    color: white;
    font-family: roboto;
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
    border-radius: .3rem;
    margin: 1rem;
    box-shadow: 0px 3px 8px grey;
    background: var(--gradient-blue);
}

.content-section__user-name {
    font-family: roboto;
    font-weight: 200;
    text-align: end;
}

.content-section__comment:nth-child(odd) {
    align-self: flex-end;
}

.content-section__more-com-btn {
    border-radius: .3rem;
    color: white;
    font-weight: 600;
    font-style: italic;
    font-family: roboto;
    font-size: .9rem;
    background-color: var(--color-secondary);
    border-style: none;
    width: 7.5rem;
    padding: .5rem 1rem;
    align-self: center;
    margin: 3rem 0rem 6rem 0rem;
    box-shadow: 0px 3px 5px grey;
}

/* ----------------------------------------------------------------------- FOOTER SECTION -- ALL PAGES -------------------------------------------------------------------------- */

.footer-section {
    width: 100%;
    height: auto;
    font-family: roboto;
    color: white;
    font-weight: 600;
    padding-top: 2rem;
    background: var(--gradient-blue);
    margin-top: 4rem;
}

.footer-section__navigation-bottom-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto;
    gap: 2rem; 
    list-style: none;
}

.footer-section__navigation-bottom-list-items {
    align-self: center;
    text-align: center;
}

.footer-section__navigation-bottom-copyright {
    font-weight: 100;
    text-align: center;
    padding-bottom: 1rem;
    font-style: italic;
    padding-top: 3rem;
    font-size: .9rem;
}

/* ------------------------------------------------------------------------ SERVICES/ROOMS PAGE -- PAGE 2 & 3 -------------------------------------------------------------------- */

.content-section__gallery-title {
    font-family: tomorrow;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 2rem;
    text-align: center;
}

.content-section__gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr) ;
    grid-template-rows: 1fr;
    text-align: center;
}

.content-section__gal-con-service-btn {
    border-style: none;
    background-color: white;
    opacity: .7;
    color: black;
    padding: 1.2rem 2.5rem;
    border-radius: .3rem;
    font-family: tomorrow;
    font-weight: 600;
    font-size: 1rem;
    width: 12rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -15%);
}

.rooms-wrapper .content-section__gal-con-service-btn {
    top: 38%;
    transform: translate(-50%, -15%);
    position: absolute;
} 

.content-section__gallery-con {
    position: relative;
}

.content-section__gal-con-img {
    position: relative;
    margin-top: 5rem;
    width: 100%;
    box-shadow: 0px 3px 5px grey;
}

.content-section__gal-con-description {
    width: 100%;
    justify-self: center;
    padding: 0rem 1rem;
    margin: 1rem .3rem;
    letter-spacing: .1rem;
    line-height: 1.4rem;
    font-family: roboto;
    font-style: italic;
}

/* additional "BOOK" BUTTON ON "rooms.html" */
.content-section__gal-con-book-btn {
    border-style: none;
    border-radius: .3rem;
    font-weight: 600;
    font-family: roboto;
    font-size: .9rem;
    padding: 1rem 2rem;
    color: white;
    background: var(--gradient-blue);
    box-shadow: 0px 3px 6px grey;
/* JUSTER BOOK KNAPPENE SÅNN AT DE ER ALIGNED LIKT */
}


/* ------------------------------------------------------------------------------- RECEIPT SECTION -- PAGE 4------------------------------------------------------------------------ */
.sr-only {
    visibility: hidden;
}

/* SEARCH WITH AI SECTION / 1 */

.content-section__AI-search, .content-section__AI-search-content  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-section__AI-search-sub-title {
    font-family: tomorrow;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 2rem 0rem;
}

.content-section__AI-search-logo {
    max-width: 20%;
}

.content-section__AI-search-input {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding: 1.5rem;
    font-size: 1rem;
    border-radius: .3rem;
    border: none;
    cursor: pointer;
    box-shadow: 0px 3px 10px grey;
}

.content-section__AI-search-edit-btn {
    font-family: roboto;
    font-weight: 600;
    max-width: 9rem;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    border-style: none;
    background-color: var(--color-secondary);
    color: white;
    box-shadow: 0px 3px 6px grey;
}

.content-section__AI-search-output-container {
    max-width: 22rem;
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    background-color: white;
    opacity: .7;
}

.content-section__AI-search-output-container-result {
    text-align: center;
    line-height: 1.5;
    font-size: 1.8rem;
    font-family: roboto;
    font-style: italic;
}
.content-section__booking-result-image-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content-section__booking-result-image-container > .content-section__gal-con-service-btn {
    top: 42%;
    max-height: 3.5rem;
    transform: translate(-50%, -50%);
}

/* BOOKING DETAILS SECTION / 2 */

.content-section__booking-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}

.content-section__booking-term, .content-section__booking-value {
    font-family: roboto;
    font-weight: 600;
}

.content-section__booking-term {
    margin-bottom: .5rem;
}

.content-section__booking-value {
    margin-bottom: 3rem;
    font-weight: 300;

    .content-section__booking-input {
        padding: .5rem 1rem;
    }
}

/* -------------------------------------------------------------------------------- MEDIA QUERY SECTION ------------------------------------------------------------------------- */

@media screen and (min-width: 999px) {

    /* MEDIA QUERY --- NAV MENY + BURGER ICON STYLING */
    .header-section__burger-btn {
        display: none;
    }

    .header-section__image {
        max-width: 10%;
        transform: translate(-50%, -50%);
    }

    .header-section__navigation {
        transform: translateX(0);
        display: flex;
        width: 100%;
        height: auto;
        padding-bottom: 0;
        background-color: rgb(255, 255, 255);
        color: rgb(19, 19, 19);
    }

    .header-section__navigation-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .header-section__navigation-list-item {
        font-size: 1rem;
        border-style: none;
        padding: 1rem 2rem;
        text-align: center;
    }
    
    .header-section__navigation-list-item a {
        color: black;
        text-decoration: none;
    }
    
    .header-section__navigation-list-item:hover {
        background-color: rgb(22, 167, 196);
        color: white;
        border-radius: 0rem 0rem 1rem 1rem;
    }


    .header-section__navigation-list-item a:hover {
        color: white;
    }

    .content-section__login-status {
        margin-top: 4rem;
    }

    /* reviews page 1 */

    .content-section__reviews {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: auto;
        text-align: center;
    }

    .content-section__quote-heading {
        grid-column: span 3;
    }

    .content-section__comment {
        grid-column: span 1;
        width: auto;
        min-height: 10rem;
        position: relative;
    }
    
    .content-section__user-name {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }

    .content-section__more-com-btn {
        grid-column: 2;
        justify-self: center;
    }

    /* PAGE 2 & 3 --- SERIVCES/ROOMS */

    .content-section__gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-template-columns: repeat(3, minmax(300px, 1fr));
        grid-template-rows: auto;
        text-align: center;
        gap: 2rem;
        padding: 0rem 2rem;
    }

    .content-section__gal-con-description {
        padding: 1rem;
        width: 100%;
        margin: 1rem 0rem;
    }

    .content-section__gallery-title {
        grid-column: span 3;
    }

    .content-section__gal-con-img {
        width: 100%;
        height: auto;
    }

    .content-section__gal-con-service-btn {
        top: 34%;
        max-height: 3.5rem;
    }

    .rooms-wrapper .content-section__gal-con-service-btn {
        top: 29%;
        transform: translate(-50%, -15%);
        position: absolute;
    } 
    
    .content-section__gal-con-book-btn {
        /* FÅ DISSE TIL Å VÆRE ALIGNET */
    }

/* PAGE 4 - RECEIPT */
    .content-section__booking-result-image-container > .content-section__gal-con-service-btn {
        top: 45%;
        max-height: 3.5rem;
        transform: translate(-50%, -50%);
    }

    .content-section__booking-result {
        display: grid;
        grid-template-columns: repeat(3 ,1fr);
        grid-template-rows: repeat(6, auto);
        flex-direction: row;
        align-items: center;
        font-size: 1.2rem;
    }

    .content-section__AI-search-edit-btn {
        grid-column: 2 / 3;
        grid-row: 4 / 5 ;
        box-shadow: 0px 3px 6px grey;
    } 
}
